/* #region Exercício 1 */

.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */

.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */

.margin {
  margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */

.border {
  border: 5px solid black;
}

/* #endregion */

/* #region Posicionamento de elementos - Exercício 3.3 */

.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 5%;
  top: 100%;
}

.baloon {
  top: 0;
  left: 0;
  position: absolute;
}

.speach {
  font-size: 25px;
  position: relative;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.bowser {
  width: 200px;
  padding-left: 35%;
}

.speech-wrapper {
  position: absolute;
  top: -10%;
  left: 25%;
  z-index: -1;
}

.wrapper{
  top: 15%;
  width: 100%;
  position: absolute;
}

/* #endregion */

/* #region  Seletores*/

.ex3a{
  margin: 0;
  padding: 0;
}

.ex3a h1,
.ex3a p{
  text-align: center;
}

.ex3a li:hover{
  background-color: yellow;
}

.ex3a li:active{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ex3a ul{
  list-style: none;
}

.ex3b div:hover{
  border: 2px solid gray;
}

.ex3b div:nth-of-type(1){
  color: yellow;
}

.ex3b div:nth-of-type(2){
  color: orange;
}

.ex3b div:nth-of-type(3){
  color: violet;
  font-size: 1.5em;
}

.ex3b div:nth-of-type(4){
  color: darkblue;
}

.ex3b div:nth-of-type(5){
  color: royalblue;
}

.ex3b div:nth-child(odd){
  font-style: italic;
}
/* #endregion */

/* #region Seletores e posicionamento */

.ex-final ol li{
  background-color: yellow;
}

.ex-final ol li:nth-child(even){
  color: green;
}

.ex-final ol li:nth-child(odd){
  text-transform: uppercase;
}

.ex-final h1,
.ex-final h3{
  color: red;
}

.ex-final h1 em,
.ex-final h3 em{
  font-size: 40px;
  border: 1px solid black;
}

.ex-final li{
  font-size: 20px;
}

.ex-final li em{
  font-weight: bold;
}

.ex-final ul:nth-of-type(1) li:nth-child(-n+3){
  color: blue;
}

.ex-final ul:nth-of-type(1) li:nth-child(-n+3):not(:first-child){
  background-color: pink;
}

.ex-final ul:nth-of-type(2) li a[href="https://pt.stackoverflow.com/"]:hover{
  color: orange;
}

.ex-final ul:nth-of-type(2) li a[href="https://www.w3schools.com/"]:hover{
  color: greenyellow;
}

.ex-final ul:nth-of-type(2) li a[href="https://developer.mozilla.org/pt-BR/"]:hover{
  color: black;
}

.ex-final ul:nth-of-type(2) li a[href="https://devdocs.io/"]:hover{
  color: yellow;
}

.ex-final ul:nth-of-type(2) li a[href="https://app.betrybe.com/"]:hover{
  color: green;
}

/* #endregion */

