*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

header{
  text-align: center;
  background: linear-gradient(90deg, rgb(66, 61, 150) 0%, rgba(24,24,190,1) 31%, rgba(0,212,255,1) 100%);
}

.header-title{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 36px;
}

nav{
  width:100%;
  text-align: center;
}

nav li{
  display: inline-block;
  padding: 1% 10%;
}

nav li a{
  text-decoration: none;
  border: 2px dotted blue;
  padding: 3px;
}

main{
  float: left;
  width: 65%;
  padding: 5px;
  border: 1px solid black;
}

aside{
  text-align: center;
  float: left;
  width: 35%;
  border: 1px solid black;
}

footer{
  text-align: center;
  position: fixed;
  bottom:0;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  font-size: 18px;
  padding: 5px;
}

video{
  width: 100%;
}