.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */

.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */

.margin {
  margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */

.border {
  border: 5px solid black;
}

/* Posicionamento de elementos - Exercício 3.3 */

.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 5%;
  top: 100%;
}

.baloon {
  top: 0;
  left: 0;
  position: absolute;
}

.speach {
  font-size: 25px;
  position: relative;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.bowser {
  width: 200px;
  padding-left: 35%;
}

.speech-wrapper {
  position: absolute;
  top: -10%;
  left: 25%;
  z-index: -1;
}

.wrapper{
  top: 15%;
  width: 100%;
  position: absolute;
}