body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eee;
}

.content {
  margin: 10px auto;
  border: 2px #333 solid;
  border-radius: 5px;
  box-shadow: 3px 3px #222, -1em 0 .5em #666;
  width: 50%;
  background-color: aliceblue;
}

.footer {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  color: #eee;
  padding: 10px;
}